[submodule "i3blocks/i3blocks-contrib"]
	path = i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "polybar/externals/b4skyx"]
	path = polybar/externals/b4skyx
	url = https://github.com/b4skyx/dotfiles.git
